<section data-ng-controller="HomeController">
  <div class="intro-message">
      <h3>Foosball Ranking</h3>
      <hr class="intro-divider">
  </div>

  <div class="row">
    <div class="col-md-12">
      <table class="table table-bordered table-condensed">
          <tr class="info">
              <th>Rank</th>
              <th>Player</th>
              <th>Games</th>
              <th>Wins</th>
              <th>Loses</th>
              <th>Change</th>
          </tr>
          <tr class="active"
              ng-repeat="rank in data.ranks">
            <td>{{ rank.rank }}</td>
            <td>{{ rank.team }}</td>
            <td>{{ rank.games }}</td>
            <td>{{ rank.wins }}</td>
            <td>{{ rank.loses }}</td>
            <td>
              {{ rank.change }}
              <i class="glyphicon "
                 ng-class="{
                  'glyphicon-arrow-up' : rank.change > 0,
                  'glyphicon-arrow-down' : rank.change < 0
                  }" ></i>
            </td>
          </tr>
      </table>
    </div>
  </div>
</section>